html {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
/*Background image*/
.bg {
    height: 110%;
    width: 110%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -2;
    background-image: url("Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
}
/* Top area */
.top-area {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-space {
    height: 20%;
    width: 15%;
}

.counter {
    width: 35%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
    font-family: sans-serif;
    font-size: 15rem;
    font-weight: bold;
}

.start {
    height: 20%;
    width: 15%;
}

/* Duel area */

.duel-area {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

.boom-area {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 33%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    visibility: hidden;
}

.boom1, .boom2 {
    width: 12%;
    height: 100%;
    background-image: url('Fire.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.left-gun {
    background-image: url("left-gun.png");
}

.right-gun {
    background-image: url("right-gun.png");
}

.left-gun, .right-gun {
    height : 30rem;
    width: 30rem;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.tw {
    height : 20rem;
    width: 20rem;
    background-image: url("tumbleweed.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.winner {
    position: absolute;
    z-index: 100;
    top: 50%;
    font-size: 7rem;
    width: fit-content;
    visibility: hidden;
    background-color: white;
}